<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <connectionStrings>
    <add name="dbf" connectionString="D:\Actualizar Stock Almacen con Ventas\Tablas\" />
    <add name="stop" connectionString="D:\Actualizar Stock Almacen con Ventas\Tablas\stop.txt" />
    <!--add name="ent" connectionString="50001" /-->
  </connectionStrings>
</configuration>
